[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask ="*"
flask-bcrypt ="*"
flask-cors ="*"
flask-restx ="*"
Flask-SQLAlchemy ="*"
gunicorn ="*"
psycopg2-binary ="*"
pyjwt ="*"
python-dateutil ="*"

[dev-packages]

flake8 ="*"
isort ="*"
pytest ="*"
pytest-cov ="*"
pytest-xdist ="*"

[requires]
python_version = "3.10"
